@model MyCommerceApp.Models.Transaction

@{
    ViewBag.Title = "View";
}






<h2 style="margin-top:5%;">Account Summary</h2>



<html>
<head>
    <style>

        h1 {
            padding-top: 15px;
            font-size: 30px;
        }

        div.a {
            border: 2px solid black;
            text-align: center;
            margin: 5%;
            padding-bottom: 350px;
            width: 75%;
        }

        div.b {
            text-align: left;
            margin-left: 20px;
            font-size: 25px;
            margin: 15px;
        }

        div.c {
            text-align: left;
            margin-left: 20px;
            font-size: 35px;
        }
    </style>

</html>
</head>


<div class="a">
    <div>  </div>
    <div class="c" style="margin-top:25px; text-align:left">  <b>   My Checking,        Savings & Money Market Accounts </b></div>


    <div class="b" style="margin-top:20px;">

        <a href="/Account/Activity" style="color:black"> Savings Account:</a>
        <div style="display:inline"> xxxxx1111</div>
        <div style=" display:inline; padding-left: 149px"> Balance: </div>
        <div style="display:inline; float:right"> $4,500.00</div>

    </div>
    <div></div>
    <div></div>

    <div class="b" , style="padding-top:5%">

        <a href="/Account/Activity" style="color:black"> Checkings Account:</a>

        <div style="display:inline"> xxxxx1110</div>
        <div style=" display:inline; padding-left: 120px"> Balance: </div>
        <div style="display:inline; float:right"> $5,000.00</div>

    </div>
    <div></div>
    <div></div>

    <div class="b" , style="padding-top:5%">
        <a href="/Account/Activity" style="color:black"> Savings Account:</a>


        <div style="display:inline"> xxxx2228</div>
        <div style=" display:inline; padding-left: 160px"> Balance: </div>
        <div style="display:inline; float:right">$5,000.00 </div>

    </div>
